@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>ExperienceIT University provides students with the tools they need to be succssful in the tech industry. 
   Students will gain skills in popular languages such as Python, C# and many more. Sign up today to enroll!</p>
