@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title</h2>



<address>
    One Hello World Drive<br />
    Detroit,MI 48226<br />
    <abbr title="Phone">P:</abbr>
    313.965.3000
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">
        Experiencedet@gmail.com <br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@experienceIT.com
</address>